@import '~bootstrap/scss/bootstrap';

body, html {
  height: 100%;
}
.button-link {
  color: white;
}
.comment-link {
  color: #264653;
}
.card {
  display: flex;
  justify-content: center;
  background-color: #f1faee;
  margin: 10px;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
}

.card-title {
  font-size: 7vh;
  text-decoration: underline;
}
.card-text {
  font-size: 3vh;
}
.home {
  display: flex;
  justify-content: center;
  color: #1b1c38;
}
.flex-container {
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
  justify-content: flex-end;
}
.flex-item {
  padding: 5px;
  justify-content: flex-start;
  color: #efe7da;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
